/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Montserrat', sans-serif; // titres
    --font-secondary: 'Fira Code', monospace; // corps de texte

    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(20px, 40px)};
    --font-size-h2: #{typo(20px, 40px)};
    --font-size-h3: #{typo(20px, 40px)};
    --font-size-h4: #{typo(20px, 40px)};
}
