{% include '_partials/_header.html' %}

<section class="split" id="intro">
    <nav class="split__nav">
        <a href="index.html" class="brand">
            <img src="assets/images/logo-timtools-invert.svg" alt="logo de timtools" />
        </a>
        <ul>
            <li>
                <a href="index.html" class="back">
                    <svg class="icon">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg>
                    Retour
                </a>
            </li>
            <li><a href="#intro">Introduction</a></li>
            <li><a href="#dependance">Dépendance</a></li>
            <li><a href="#utilisation">Utilisations</a></li>
            <li><a href="#variantes">Variantes</a></li>
        </ul>
    </nav>

    <div class="split__content">
        <section class="split__section" id="intro">
            <h1>Carousel</h1>
            <p>Cette composante permet d'instancier un carousel sur un élément html.</p>
        </section>

        <section class="split__section" id="dependance">
            <h2>Dépendance</h2>
            <h3>Swiper</h3>
            <p>
                Afin d'utiliser cette composante, vous devrez vous assurer que la dépendance npm swiper soit installée
                dans votre projet.
            </p>

            <script type="text/plain" class="language-scss" data-prismjs-copy>
                # TERMINAL
                npm install swiper
            </script>

            <a href="https://swiperjs.com/swiper-api" class="btn" target="_blank">
                Documentation complète
                <svg class="icon icon--md">
                    <use xlink:href="#icon-external"></use>
                </svg>
            </a>
        </section>

        <section class="split__section" id="utilisation">
            <h2>Comment l'utiliser</h2>

            <p>
                Afin d'utiliser la composante, mettre l'attribut <strong>data-component="Carousel"</strong> sur une
                structure html respectant celle de la librairie Swiper.
            </p>
            <script type="text/plain" class="language-markup">
                # HTML
                <div class="swiper" data-component="Carousel"></div>
            </script>

            <!-- HTML exemple complet -->
            <details>
                <summary>exemple de code complet</summary>

                <script type="text/plain" class="language-markup">
                    # HTML
                    <!-- Slider main container -->
                    <div class="swiper-container" data-component="Carousel">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">Slide 1</div>
                            <div class="swiper-slide">Slide 2</div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </script>
            </details>

            <p>Pour que les styles soient bien appliqués, il faut importer les styles de bases de Swiper.</p>

            <script type="text/plain" class="language-scss">
                # SCSS
                @import '../../node_modules/swiper/swiper.scss';

                // seulement si vous avez des modules supplémentaire comme la pagination
                @import '../../node_modules/swiper/modules/pagination/pagination.scss';
            </script>

            <a href="https://swiperjs.com/swiper-api#scss-styles" class="btn" target="_blank"
                >Voir toutes les options de Swiper</a
            >
        </section>

        <section class="split__section" id="variantes">
            <h2>Variantes</h2>
            <p>
                Les variantes permettent d'ajouter des groupes d'options préfaits afin de personaliser l'affichage d'un
                carousel.
            </p>

            <h3>DÉFAUT</h3>
            <p>
                Cette variante permet d'avoir une diapositive à la fois dans tous les résolutions d'écran. Elle ne
                requiert aucune configuration supplémentaire.
            </p>
            <a href="carousel-demo.html#defaut" class="btn">Voir un démo de « defaut »</a>

            <h3>SPLIT</h3>
            <p>
                Cette variante permet d'avoir 2 diapositives du carousel visible en simultanné sur grand écran (1024px
                et plus), mais seulement une diapositive sur écran plus petit (1023px et moins).
            </p>
            <p>
                Pour activer cette variante, il faut ajouter l'attribut suivant sur l'élément qui est votre component
                l'attribut suivant :
            </p>

            <script type="text/plain" class="language-markup">
                # HTML
                data-carousel="split"
            </script>

            <!-- HTML exemple complet -->
            <details>
                <summary>exemple de code complet</summary>

                <script type="text/plain" class="language-markup">
                    # HTML
                    <!-- Slider main container -->
                    <div class="swiper" data-component="Carousel" data-carousel="split">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">Slide 1</div>
                            <div class="swiper-slide">Slide 2</div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                </script>
            </details>

            <a href="carousel-demo.html#split" class="btn">Voir un démo de « split »</a>
        </section>
    </div>
</section>

{% include '_partials/_footer.html' %}
