{% include '_partials/_header.html' %}

<section>
    <div class="wrapper">
        <h1>ComponentFactory</h1>
        <p>Dans cette page, vous DEVREZ montrer du JavaScript pour répondre aux requis suivants.</p>
        <ol>
            <li>Brève description de ComponentFactory</li>
            <li>Comment créer une nouvelle composante (ex. de code de classe de base avec explications)</li>
            <li>Comment ajouter une nouvelle composante dans la ComponentFactory. Où et que dois-je faire?</li>
        </ol>
    </div>
</section>

{% include '_partials/_footer.html' %}
