{% include '_partials/_header.html' %}

<section>
    <div class="wrapper">
        <h1>Header</h1>
        <p>
            En vous inspirant des autres documentations en exemples, créez celle-ci afin que n'importe qui, sans
            connaissance JavaScript, puisse utiliser cette composante.
        </p>
        <ol>
            <li>Brève description de la composante</li>
            <li>Dépendances s'il y a lieu et comment les installer</li>
            <li>
                Comment l'utiliser (HTML + CSS + ComponentFactory)
                <ul>
                    <li>Comment modifier l'animation ouverture/fermeture mobile</li>
                    <li>Quelles classes ajouter et où pour que la composante fonctionne</li>
                </ul>
            </li>
            <li>
                Classes d'états css ajoutées disponible pour manipulation dans le css, et à quel moment
                <ul>
                    <li>is-scrolling-up / is-scrolling-down</li>
                    <li>header-is-hidden (ou pas)</li>
                </ul>
            </li>
            <li>
                Toutes les options ajustables avec les attributs data (facultative ou pas)
                <ul>
                    <li>data-not-hiding: si présent, le header ne se cache pas au scroll</li>
                    <li>
                        data-scroll-limit: permet de paramétrer du HTML le seuil où le header se cache (mentionner le
                        type de variable et valeur possibles)
                    </li>
                </ul>
            </li>
            <li>Comment l'utiliser en dehors de TimTools</li>
            <li>Toute autre information que vous jugez pertinente</li>
        </ol>
    </div>
</section>

{% include '_partials/_footer.html' %}
