{% include '_partials/_header.html' %}

<section class="split" id="intro">
    <nav class="split__nav">
        <a href="index.html" class="brand">
            <img src="assets/images/logo-timtools-invert.svg" alt="logo de timtools" />
        </a>
        <ul>
            <li><a href="carousel.html">Carousel</a></li>
            <li><a href="cursor.html">Cursor</a></li>
            <li><a href="formulaire.html" class="disabled">Formulaire</a></li>
            <li><a href="header.html">Header</a></li>
            <li><a href="modal.html">Modal</a></li>
            <li><a href="scrolly.html">Scrolly</a></li>
            <li><a href="snackbar.html" class="disabled">Snackbar</a></li>
            <li><a href="video.html" class="disabled">Video</a></li>
        </ul>
    </nav>

    <div class="split__content">
        <section class="split__section" id="intro">
            <h1>timtools</h1>
            <p>
                C'est une trousse à outils, qui contient de multiples composantes interactives réutilisables afin
                d'accélérer le développement de pages web.
            </p>

            <p>
                Dans cette documentation, vous trouverez toutes les informations nécessaires afin d'utiliser toutes les
                composantes ainsi que toutes leurs options.
            </p>

            <p>
                Cette librairie est une création de Jean-François Leblanc et Matthieu Parent, pour le département TIM du
                Cégep Édouard Montpetit.
            </p>
            <p>Elle a été modifié par :</p>
            <ul>
                <li><a href="[GITHUB]" target="_blank">Jean-François Leblanc</a></li>
                <li><a href="[GITHUB]" target="_blank">Matthieu Parent</a></li>
            </ul>
        </section>
    </div>
</section>

{% include '_partials/_footer.html' %}
