{% include '_partials/_header.html' %}

<section class="split" id="intro">
    <nav class="split__nav">
        <a href="index.html" class="brand">
            <img src="assets/images/logo-timtools-invert.svg" alt="logo de timtools" />
        </a>
        <ul>
            <li>
                <a href="index.html" class="back">
                    <svg class="icon">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg>
                    Retour
                </a>
            </li>
            <li>N'oubliez pas de mettre la nav à jour (et de supprimer ce message 🤦‍♂️)</li>
        </ul>
    </nav>

    <div class="split__content">
        <section class="split__section" id="intro">
            <h1>Modal</h1>
            <p>
                En vous inspirant de la documentation de carousel, créez celle-ci afin que n'importe qui, sans
                connaissance JavaScript, puisse utiliser cette composante.
            </p>
            <ol>
                <li>Description de la composante</li>
                <li>Dépendances s'il y a lieu et comment les charger</li>
                <li>
                    Comment l'utiliser (HTML + CSS)
                    <ul>
                        <li>Comment modifier l'animation apparition/disparition</li>
                        <li>Quelles classes ajouter et où pour que la composante fonctionne</li>
                        <li>Attributs data</li>
                        <li>Templates</li>
                        <li>etc.</li>
                    </ul>
                </li>
                <li>
                    Classe d'état css ajoutées disponible pour manipulation dans le css, et à quel moment
                    <ul>
                        <li>modale-is-active</li>
                    </ul>
                </li>
                <li>Toute autre information que vous jugez pertinente</li>
            </ol>
        </section>
    </div>
</section>

{% include '_partials/_footer.html' %}
