{% include '_partials/_header.html' %}

<section>
    <div class="wrapper">
        <h1>Scrolly</h1>
        <p>
            En vous inspirant des autres documentations en exemples, créez celle-ci afin que n'importe qui, sans
            connaissance JavaScript, puisse utiliser cette composante.
        </p>
        <ol>
            <li>Brève description de la composante</li>
            <li>Dépendances s'il y a lieu et comment les installer</li>
            <li>Comment l'utiliser (HTML + CSS + ComponentFactory)</li>
            <li>
                Animations
                <ul>
                    <li>animation disponible + description + pages démo claires</li>
                    <li>Comment ajouter de nouvelles animation (CSS + HTML)</li>
                </ul>
            </li>
            <li>
                Tous les paramètres ajustables avec les attributs data (facultative ou pas)
                <ul>
                    <li>data-no-repeat</li>
                </ul>
            </li>
            <li>Comment l'utiliser en dehors de TimTools</li>
        </ol>
    </div>
</section>

{% include '_partials/_footer.html' %}
